@use "./variables";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
}

html {
  scroll-behavior: smooth;
}
:root{
  --primary-color:#adadee;
  --accent-color:#1D95C9;
  --background-color:#ebebeb;
}

.home{
  justify-content: center;
  margin: auto;
  display: grid;
  grid-template-columns: 90vw;
  grid-template-rows: min-content 1fr;
  grid-template-areas:
    "header"
    "countries";
  gap: 3rem;
  box-sizing: border-box;
  background-color: variables.$backgroundColor;
}
a {
  text-decoration: none;
  color: black;
}

li {
  list-style: none;

}
button {
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}