@use "../../sass/variables";

.button {
  background-color: variables.$primaryColor;
  box-sizing: border-box;
  color: #FFFFFF;
  font-size: 16px;
  justify-content: center;
  padding: 0.5rem 1rem;
  width: fit-content;;
  cursor: pointer;
  touch-action: manipulation;
  white-space: nowrap;
  margin-top: 20px;
  align-items: center;

  &:hover {
    background-color: variables.$accentColor;
  }
  &__disable{
    background-color: grey;
  box-sizing: border-box;
  color: #FFFFFF;
  font-size: 16px;
  justify-content: center;
  padding: 0.5rem 1rem;
  width: fit-content;;
  touch-action: manipulation;
  white-space: nowrap;
  margin-top: 20px;
  align-items: center;
  }
}