.like {
  position: absolute;
  background-color: white;
  top: 60px;
  right: 5px;

  li {
    padding: 30px;
    display: flex;
  }

  &__icon-trash {
    position: relative !important;
    display: flex;
    padding-left: 50px;
    &:hover{
      color: red;
    }
  }

  &__icon-close{
    margin: unset !important;
    left: unset !important;
    padding: 5px;
  }

  &__image{
    width: 50px;
  }

  &__text{
    white-space: nowrap;
  }

}