.card {
  flex-grow: 1;
  padding: 20px;
  text-align: center;
  width: 300px;
  background-color: antiquewhite;
  margin: 20px;
  box-shadow: 1px 1px 2px 1px #888888;
  display: grid;
  grid-template-columns: 0.8fr 1fr;
  grid-template-rows: 1fr;
  grid-area:
    "flag content"
    "flag content"
    "flag content"
    "flag content";

  &__image {
    grid: flag;
    width: 100%;
    align-self: center;
  }

  &__content {
    grid: content
  }
}